# Build and Release Folders

# Other files and folders
__pycache__/
build/
*.egg-info/

# Output files
*.xdmf
*.h5
*.pvd
*.vtu
*.vtk
*.vtx
*.pyc
*.mp4
*.mov
*.geo_unrolled
*.pvsm
*Zone.Identifier
*.xlsx